<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="/fragments/head.html :: fragment-head"></th:block>
</head>
<body>
	<th:block th:replace="/fragments/header.html :: fragment-header"></th:block>
	
	<div class="container">
		<form method="post" action="/insert">
			<div class="mb-3">
				<label for="title" class="form-label">제목</label>
				<input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
			</div>
			<div class="mb-3">
				<label for="contents" class="form-label">내용</label>
				<textarea class="form-control" id="contents" name="contents" style="height: 150px"></textarea>
			</div>
			
			<div class="float-end">
				<a href="/" class="btn btn-secondary" role="button">목록으로</a>
				<button type="submit" class="btn btn-primary">등록하기</button>
			</div>
		</form>
	</div>
	
	<th:block th:replace="/fragments/footer.html :: fragment-footer"></th:block>
</body>
</html>